* text=auto

*.py text eol=lf
*.pyi text eol=lf
*.toml text eol=lf
*.json text eol=lf
*.jsonc text eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.ts text eol=lf

*.ico binary
*.png binary
*.webp binary
*.qm binary
